
.card {
   border: 1px solid rgb(217, 214, 214);
   background: rgb(238, 238, 238);
   box-shadow: 0px 0px 10px 0.2px #888888;
   /* width: 220px;  */
   padding: 15px;
}

.imgCard {
    box-shadow: 0px 0px 5px 2px rgb(169, 167, 167);
    width: 190px; 
    height: 190px;
}

h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
}

.add_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    /* padding-left: 15px; */
    text-align: start;
}

a {
    cursor: pointer;
}

.star{
   box-shadow: none;
}

.starYes {
    display: block;
}

.starNo {
    display: none;
}

